@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

.russo-one-regular {
    font-family: "Russo One", serif;
    font-weight: 800;
    font-size: xx-large;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: xx-large;
    font-style: normal;
}


.header {
    width: 100vw;
    height: 100px;
    background-color: rgb(104, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: rgb(255, 255, 255);
    font-family: "Russo One", serif;
    font-size: xx-large;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__card {
    height: 500px;
    width: 300px;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black dotted;
}

.card__image {

}

.card__word {
    margin: auto;
}

.main__buttons {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}

.main__button--known {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: medium;

    height: 50px;
    width: 150px;
    border: none;
    border-radius: 15px;
    background-color: rgb(83, 182, 108);
}

.main__button--learn {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: small;
    
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 15px;
    background-color: rgb(233, 105, 105);
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: small;
    font-style: normal;
}